<div>
    <a href="{{ path("app_contact_edit",{"id":contact.id}) }}">edytuj kontakt</a>
</div>
<hr>
<div>
    <h3>Kontakt:</h3>
    <p>Imię: {{ contact.name }}</p>
    <p>Nazwisko: </p> {{ contact.surname }}
    <p>Opis: {{ contact.description }}</p>
    <hr>
    <h3>Adresy:</h3>
    {% for address in contact %}
        <p>Miasto: {{ address.city }}</p>
        <p>Kod: {{ address.code }}</p>
        <p>Ulica: {{ address.street }}</p>
        <p>Numer: {{ address.number }}</p>
    {% else %}
        <p>nie ma jeszcze dodanych adresów</p>
    {% endfor %}
</div>